---
import { employeeData } from "../helpers/data";
import { AddComponent } from "./AddComponent";
import { Graph } from "./Graph";
import { Header } from "./Header";
import { NameCard } from "./NameCard";
import { Satisfication } from "./Satisfaction";
import { Segmentation } from "./Segmentation";
import { TopCountries } from "./TopCountries";
---

<div class="flex w-full">
  <div
    class="h-screen flex-grow overflow-x-hidden overflow-auto flex flex-wrap content-start p-2"
  >
    <Header client:only />
    <div class="w-full grid sm:grid-cols-3 grid-rows-1 gap-0">
      {
        employeeData.map(
          ({
            id,
            name,
            position,
            transactions,
            rise,
            tasksCompleted,
            imgId,
          }) => (
            <NameCard
              key={id}
              id={String(id)}
              name={name}
              position={position}
              transactionAmount={transactions}
              rise={rise}
              tasksCompleted={tasksCompleted}
              imgId={imgId}
            />
          )
        )
      }

      <div class="w-full p-2 sm:col-span-2">
        <div class="rounded-lg bg-card sm:h-80 h-60">
          <Graph client:idle />
        </div>
      </div>
      <div class="w-full h-full p-2">
        <div class="rounded-lg bg-card h-80">
          <TopCountries client:idle />
        </div>
      </div>

      <div class="w-full h-full p-2">
        <div class="rounded-lg bg-card h-80">
          <Segmentation client:load />
        </div>
      </div>
      <div class="w-full h-full p-2">
        <div class="rounded-lg bg-card h-80">
          <Satisfication client:load />
        </div>
      </div>
      <div class="w-full h-full p-2">
        <div class="rounded-lg bg-card overflow-hidden h-80">
          <AddComponent />
        </div>
      </div>
    </div>
  </div>
</div>
